<html>
    <head>
      <link rel="stylesheet" type="text/css" href="/css/base.css">
    </head>

    <body>
        <p> This application is used to help users randomly generate pass phrases! </p>
    </body>

</html>
