<html>
    <head>
         <link rel="stylesheet" type="text/css" href="/css/base.css">
   </head>

    <body>
        <h1> Diceware Simulator </h1>
        <ul class="navigation">
          <li class="navigationItem"><a href="/about"> ABOUT </a><li>
          <li class="navigationItem"><a href="/generate"> GENERATE </a><li>
        <br>
        {{{body}}}
    </body>

</html>
